{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KLU TRAVEL TOURISM MANAGEMENT</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
<a href="{% url 'register' %}">|Sign-up| </a>
<a href="{% url 'login' %}"> Login Page|</a>  &nbsp
<a href="{% url 'home' %}">HomePage|</a> &nbsp
<a href="{% url 'about' %}">About us |</a> &nbsp
<a href="{% url 'contact' %}">Contact us |</a> &nbsp </center>
<a href="{% url 'checkpackages' %}">|INSERT PACKAGES|"</a> &nbsp
<a href="{% url 'viewplaces' %}">VIEW PACKAGES|</a>
<a href="{% url 'logout' %}">LOGOUT|</a>

{% block 'b1' %}
<h2 align="center"><font color="brown" size = "10x"> TRAVEL TOURISM MANAGEMENT</font></h2>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="purple">{{i}} </font>  </h4>
    {% endfor %}
</div>
{% endblock %}
<br>
<br>

</body>
</html>